::ng-deep .k-chat .k-message.k-user .k-message-box {
    background-color: #FE9000 !important; /* Bright orange for user */
    color: #FFFFFF !important;
  }
  
  ::ng-deep .k-chat .k-message.k-alt .k-message-box {
    background-color: #55917F !important; /* Teal green for bot */
    color: #FFFFFF !important;
  }
  